.row {
    display: grid;
    justify-content: center;
  //   background-color: red;
  grid-template-columns: repeat(auto-fit, minmax(50rem, min-content));
  grid-column-gap: 5rem;

  [class^="col-"] {
  }
}

.row-4{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 6rem;

    grid-template-columns: repeat(auto-fit, minmax(22.5rem, min-content));
}
